.play {
  position: absolute;
  left: 10px;
  bottom: 10%;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.5);
  font-size: 2rem;
}

.select {
  position: absolute;
  right: 10px;
  bottom: 10%;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.5);
  font-size: 2rem;
}

.videoContainer {
  width: 1080px;
  position: relative;
}

.video {
  width: 100%;
}
